@{
    ViewBag.Title = "Index";
    Layout = null;
}
<link href="~/Content/uploadify/uploadify.css" rel="stylesheet" />
<script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
<script src="~/Content/uploadify/jquery.uploadify-3.1.min.js"></script>
<script type="text/javascript">
        $(function () {
            $("#file_upload").uploadify({
                //指定swf文件
                'swf': '@Url.Content("~/Content/uploadify/uploadify.swf")',
                //后台处理的页面
                'uploader': '/Pic/Upload',
                //按钮显示的文字
                'buttonText': '上传图片',
                //显示的高度和宽度，默认 height 30；width 120
                'height': 80,
                'width': 80,
                //上传文件的类型  默认为所有文件    'All Files'  ;  '*.*'
                //在浏览窗口底部的文件类型下拉菜单中显示的文本
                'fileTypeDesc': 'Image Files',
                //允许上传的文件后缀
                'fileTypeExts': '*.gif; *.jpg; *.png',
                //发送给后台的其他参数通过formData指定
                //'formData': { 'someKey': 'someValue', 'someOtherKey': 1 },
                //上传文件页面中，你想要用来作为文件队列的元素的id, 默认为false  自动生成,  不带#
                //'queueID': 'fileQueue',
                //选择文件后自动上传
                'auto': false,
                //设置为true将允许多文件上传
                'multi': true,
                //上传完成后执行
               'onUploadSuccess': function (file, data, response) {
                    var a = jQuery.parseJSON(data);
                    if (a.Success) {
                        $.dialog.alert(a.Message);
                    }
                    else {
                        $.dialog.alert("导入提单成本费用异常：" + a.Message);
                    }
                },
                'onSelect': function (file) {
                    alert('The file ' + file.name + ' was added to the queue.');
                },
                'onComplete': function (event, queueID, fileObj, response, data) {
                    $('#image').attr("src", response);
                    $('#image').show();
                    $('#photo').attr("value", response);
                }
            });
    });
    function reviewUploadImg(obj) {
        
        for (var i = 0; i < obj.files.length; i++) {
            var file = obj.files[i];
            console.log(obj); console.log(file);
            console.log("file.size = " + file.size);  //file.size 单位为byte

            var reader = new FileReader();

            //读取文件过程方法
            reader.onloadstart = function (e) {
                console.log("开始读取....");
            }
            reader.onprogress = function (e) {
                console.log("正在读取中....");
            }
            reader.onabort = function (e) {
                console.log("中断读取....");
            }
            reader.onerror = function (e) {
                console.log("读取异常....");
            }
            reader.onload = function (e) {
                console.log("成功读取....");
                var contain = document.getElementById("contain")
                var img = document.createElement("img");
                img.height = 100;
                img.width = 100;
                img.src = e.target.result;
                contain.appendChild(img);
                //或者 img.src = this.result;  //e.target == this
            }

            reader.readAsDataURL(file);
        }
    }
    @*$(function () {
        $('#file_upload').uploadify({
            'buttonImage': '@Url.Content("~/Content/uploadify/browse-btn.png")',
            'swf': '@Url.Content("~/Content/uploadify/uploadify.swf")', //指定swf文件
            'uploader': '/pic/Upload',//后台处理的页面
            'onUploadSuccess': function (file, data, response) {
                eval("data=" + data);
                alert('文件 ' + file.name + ' 已经上传成功，并返回 ' + response + ' 保存文件名称为 ' + data.SaveName);
            }
        });
    });
    $(function() {
        $("#file_upload").uploadify({
            'swf'      : '@Url.Content("~/Content/uploadify/uploadify.swf")',
            'uploader' :  '/pic/Upload',
            'onQueueComplete' : function(queueData) {
                alert(queueData.uploadsSuccessful + ' files were successfully uploaded.');
            }
        });
    });
    $(function() {
        $("#file_upload").uploadify({
             'swf': '@Url.Content("~/Content/uploadify/uploadify.swf")', //指定swf文件
            'uploader': '/pic/Upload',//后台处理的页面
             'onUploadComplete' : function(file) {
                alert('The file ' + file.name + ' finished processing.');
            }
        });
    });*@
</script>
<div>
    @*用来作为文件队列区域*@
    <div id="fileQueue">
    </div>
    <input type="file" id="file_upload" onchange="reviewUploadImg(this)" name="file_upload" />
    <div id="contain" style="height:500px;width:500px;border:1px solid red"></div>
    <p>
        <a href="javascript:$('#file_upload').uploadify('upload');">上传第一个</a>
        <a href="javascript:$('#file_upload').uploadify('upload','*');">上传队列</a>
        <a href="javascript:$('#file_upload').uploadify('cancel');">取消第一个</a>
        <a href="javascript:$('#file_upload').uploadify('cancel', '*');">取消队列</a>
    </p>
</div>